
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background: #dadada;
    padding-bottom: 30px;
    position: relative;
    background: url("https://t3.ftcdn.net/jpg/05/68/12/34/360_F_568123469_wPEOJpuXdqbdxmwIHmcH2U6iqYdRIdmn.jpg");
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 100px;
    background: rgb(0 0 0 / 50%);
    position: relative;
    position: sticky;
    top: 0;
    z-index: 998;
}
.logo{
    display: flex;
    align-items: center;
    height: 100%;
}
nav img{
    width: 100px;
}
nav p i{
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
header{
    width: 80%;
    margin: auto;
}
.card_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #7f7575;
    background: #fff;
}
.cards:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.cards img{
    height: 150px;
}
.cards h4{
    font-size: 19px;
    font-weight: 500;
    padding: 5px 0;
}
.cards p{
    font-size: 18px;
    font-weight: 700;
    color: rgb(161 155 155);
    padding: 5px;
}
.cards button{
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    background: #1fd4ca;
    color: #fff;
    cursor: pointer;
}
.cards button:hover{
     background: #14c3ba;
     transition: 0.5s;
}
.add_sideCard_container{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right:0;
    overflow: hidden;
}
.add_sideCard_toggle{
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: 1s;
    padding: 20px;
    z-index: 999;
}
.card_close{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: rgb(244, 93, 93);
}
.card_close i{
    cursor: pointer;
}
